<a href="https://colab.research.google.com/github/Bryan-Villanueva/CPE-103-OOP-1-A/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean Operators

In [139]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# bool() Function

In [140]:
print(bool("Hello"))
print(bool(15))
print(bool(-7))
print(bool(0))

True
True
True
False

# Functions can Return a Boolean

In [141]:
def myFunction():
  return True

print(myFunction())

True

In [142]:
def myFunction():
  return True

if myFunction():
  print("YES!")

else:
  print("NO!")

YES!

In [143]:
print (10 > 9)

a = 6
b = 7
print(a == b)
print(a != a)

True
False
False

# Python Operators

In [144]:
print(10 + 5) # Addition
print(10 - 5) # Substraction
print(10 * 5) # Multiplication
print(10 / 5) # Division
print(10 ** 5) # Exponential
print(10 // 5) # Floor Division
print(10 % 5) # Modulus

15
5
50
2.0
100000
2
0

# Python Bitwise Operators

In [145]:
a = 60 #0011 1100
b = 13 #0000 1101

print(a & b) #Bitwise AND
print(a | b) #Bitwise OR
print(a ^ b) #Bitwise XOR
print( ~a ) #Bitwise ONES COMPLEMENT
print(a << 2) #Bitwise LEFT SHIFT
print(a >> 2) #Bitwise RIGHT SHIFT

12
61
49
-61
240
15

# Python Assignment Operators

In [146]:
x = 5

x += 3 #same as x = x + 3
print(x)

x -= 3 #same as x = x - 3
print(x)

x *= 3 #same as x = x * 3
print(x)

x /= 3 #same as x = x / 3
print(x)

x %= 3 #same as x = x % 3
print(x)

8
5
15
5.0
2.0

# Logical Operators

In [147]:
a = 10 > 9
b = 10 < 9

print(a and b) # and Logical AND
print(a or b) # or Logical OR
print(not(a and b)) # not Logical NOT

False
True
True

# Identity Operator

In [148]:
x = 1
y = 2

print(x is y)
print(x is not y)

False
True

# Conditional Statement in Python

**if Statement**

In [149]:
a = 12
b = 100

if b>a:
  print("b is greater than a")

b is greater than a

**Elif Statements**

In [150]:
a = 12
b = 12
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

**Else Statements**

In [151]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

**Short Hand if Else Statement**

In [152]:
a = 2
b = 330
print("A") if a > b else print("B")

B

**And-both conditions are true**

In [153]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

**Nested if**

In [154]:
x = 29

if x >10:
  print("Above Ten")
  if x > 20:
    print("and also above 20")
    if x > 30:
      print("and also above 30")
      if x > 40:
        print("and also above 40")
        if x > 50:
           print("and also above 50")
        else:
          print("but not above 50")
      else:
        print("but not above 40")
    else:
      print("but not above 30")
  else:
    print("but not above 20")
else:
  print("but not above 10")

Above Ten
and also above 20
but not above 30

**Example 1**

In [155]:
age = int(input("Enter your age: "))

print("")
if age > 18:
  print("You are qualified to vote.")
else:
  print("You are not qualified to vote.")

Enter your age: 17

You are not qualified to vote.

**Example 2**

In [156]:
number = float(input("Enter a number: "))

print("")
if number > 0:
  print("Positive number")

elif number < 0:
  print("Negative number")

else:
  print("Zero")

Enter a number: 11

Positive number

**Example 3**

In [157]:
grade = float(input("Enter your grade: "))

print("")
if grade >= 75:
  print("Passed")

elif grade == 74:
  print("Remedial")

else:
  print("Failed")

Enter your grade: 99

Passed