<a href="https://colab.research.google.com/github/Bryan-Villanueva/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [5]:
if 5>2:
  print("Five is greater than two!")

Five is greater than three

Python Comments

In [8]:
#This is a comment
print("Hello, World!")

Hello, World!

Variable Naming Conventions

In [26]:
myvar= "John"
print(myvar)

John

Python Variable

In [17]:
x= 1
a, b= 0,-1
a, b, c= 0, -1, 2
print(b)

-1

In [14]:
b= "Sally" #This is a type of string
print(b)

Sally

Casting

In [18]:
b= "sally" #This is a type of string
b= int(4)
b= float(4)
print(b)

4.0

Type Function

In [19]:
x= 5
y= "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [22]:
x= "John"
y= 'john'
print(x)
print(y)

John
john

Case Sensitive

In [25]:
a= 4
A= "Sally"
print(A) #A will not overwrite a

Sally

Multiple Variable

In [27]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [28]:
x=y=z= "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [29]:
x= "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [30]:
x= "Python is "
y= "enjoying"
z= x+y
print(z)

Python is enjoying

Arithmetic Operations

Addition

In [31]:
x= 5
y= 3
print (x+y)

8

In [32]:
x=5
y=3
sum= x+y
sum

8

Substraction

In [33]:
x= 5
y= 3
print (x-y)

2

In [34]:
x=5
y=3
sum= x-y
sum

2

Multiplication

In [35]:
x= 5
y= 3
print (x*y)

15

In [36]:
x=5
y=3
sum= x*y
sum

15

Division

In [37]:
x= 6
y= 3
print (x/y)

2.0

In [38]:
x=6
y=3
sum= x/y
sum

2.0

Modulus

In [39]:
x= 6
y= 3
print (x%y)

0

In [40]:
x=6
y=3
sum= x%y
sum

0

Exponentiation

In [41]:
x= 6
y= 3
print (x**y)

216

In [42]:
x=6
y=3
sum= x**y
sum

216

Floor Division

In [43]:
x= 6
y= 3
print (x//y)

2

In [44]:
x=6
y=3
sum= x//y
sum

2

Assignment Operator

In [47]:
x= 3
x*=3 # x = x*3
print(x)

9

Comparison Operators

In [51]:
x= 5
y= 3
x>y

True

Logical Operator

In [53]:
x= 5
y=2

not (x>y)

False

Bitwise Operator

In [71]:
# decimal to binary
#10 = 1010

x = 10
x>>1

5

Application 1

In [89]:
#Application 1
# Area of Retangle
x= input("Input the length: ")
y= input("Input the width: ")

area= float(x)*float(y)
print("The are of rectangle is", area)

Input the length: 5
Input the width: 5
The are of rectangle is 25.0

In [90]:
# Area of Triangle
x= input("Input the base: ")
y= input("Input the height: ")

area= float(x)*float(y)/2
print("The are of triangle is", area)

Input the base: 12
Input the height: 17
The are of triangle is 102.0

In [97]:
# Area of Circle
x= input("Input the radius: ")
pi_value= 3.141592653589793

area= float(x)*float(x)*pi_value
print("The are of circle is", area)

Input the radius: 5
The are of circle is 78.53981633974483