<a href="https://colab.research.google.com/github/Bryan-Villanueva/CPE-103-OOP-1-A/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x== "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

**Looping through a String**

In [ ]:
for x in "week":
  print(x)

w
e
e
k

# The Range () Function

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

# Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1  # This is Assignment operator

1
2
3
4
5

**Break Statement**

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
      continue
    print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  if i == 3:
    break
  i += 1
print(i)

3

**Else Statement**

In [13]:
i = 1
while 1 < 6:
  print(i)
  i += 1
  if i == 10:
    break
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
7
8
9

**Let's Try**

In [2]:
i = 0
while i <= 10:
  print("Hello", i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

# Practical Test

In [15]:
i = 3
while i < 10:
  print(i)
  if i == 10:
    break
  i += 1

3
4
5
6
7
8
9

**Another Way**

In [18]:
number = [3,4,5,6,7,8,9]
for x in number:
  print(x)

3
4
5
6
7
8
9